@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Bitter', serif; 
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #3E7856;
}
.accordion-body{
    color: white;
    background-color: #3E7856;
}

@media (max-width: 575.98px) { 
    .about{
        text-align: center;
    }
    .about-button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
 }